@import "reset.css";

:root {
  /*color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-brown: #b08761;
  --color-light-brown: #ffdebf;
  --color-brown: #fccfa4;
  --color-dark-blue: #4f9db0;
  --color-blue: #a4ebfc;
  --color-black: #000000;
  --color-bold-blue: #067f9e;
  --color-dark-boldblue: #013b54;

  /*Font size*/
  --font-large: 45px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bold: 900;
  --weight-semi-bold: 700;
  --weight-regular: 400;

  /*Size*/
  --size-border-radius: 4px;

  /*animation*/
  --animaiton-duration: 300ms;
}

/*universal tags*/
* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

/*Navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-brown);
  color: var(--color-bold-blue);
}

.navbar__menu {
  display: flex;
}

.navbar__logo,
.navbar__menu__item {
  padding: 20px 12px;
  margin: 0px 4px;
  cursor: pointer;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-brown);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/*home*/
#home {
  background: url("img/home-background.png") top/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avartar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-bold-blue);
  text-shadow: -1px 0#013B54, 0 1px#013B54, 1px 0 #013b54, 0 -1px#013B54;
}

.home_contact {
  font-size: var(--weight-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-boldblue);
  border-radius: 4px;
  background-color: var(--color-light-brown);
  color: var(--color-bold-blue);
}

/*section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

/*about*/
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px; /*line-height를 높이만큼 지정하면 중간이 됨*/
  font-size: 70px;
  margin: auto;
  color: var(--color-dark-boldblue);
  border: 1px solid var(--color-dark-boldblue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animaiton-duration) ease;
}

.major__icon i:hover {
  color: var(--color-bold-blue);
  transform: rotateY(-180deg);
}

.major__title,
.major__description {
  color: var(--color-dark-boldblue);
  font-size: var(--font-small);
}

#skills {
  background-color: var(--color-light-brown);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-boldblue);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-bold-blue);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 20px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill__value {
  height: 3px;
  background-color: tomato;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-dark-blue);
}

.tools,
.etc {
  padding: 20px;
}
